In [1]:
7 + 8

15

In [2]:
type (123)

int

In [3]:
type ("123")

str

In [4]:
8 - 2

6

In [5]:
15 / 3

5.0

In [6]:
type (5.0)

float

In [7]:
15 // 3

5

In [8]:
int(15 / 3)

5

In [9]:
"hello" + "word"

'helloword'

In [10]:
"hello " + "word"

'hello word'

In [11]:
"jakarta" upper()

SyntaxError: invalid syntax (<ipython-input-11-a35d513fb880>, line 1)

In [12]:
"jakarta".upper()

'JAKARTA'

In [13]:
3 ** 3

27

In [14]:
round(3.23555,2)

3.24

In [15]:
2.5 + 3.5

6.0

In [16]:
"boolean"

'boolean'

In [17]:
true

NameError: name 'true' is not defined

In [18]:
True

True

In [19]:
False

False

In [20]:
a = 3

In [21]:
a

3

In [22]:
a + 10

13

In [23]:
b = "pulang kampung"

In [24]:
b + "ke kediri"

'pulang kampungke kediri'

In [25]:
a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
type (a)

int

In [27]:
type (b)

str

In [28]:
a = "berangkat"

In [29]:
b = "ke jakarta"

In [30]:
a + b

'berangkatke jakarta'

In [31]:
a1

NameError: name 'a1' is not defined

In [32]:
a1 = "makan"

In [33]:
a1

'makan'

In [34]:
A1

NameError: name 'A1' is not defined

In [36]:
8 + 2 * 3

14

In [37]:
(8+2)*3

30

In [38]:
16 / 5

3.2

In [39]:
16 % 5 #module / hasil pembagian

1

In [40]:
3 > 2

True

In [41]:
3 > 4

False

In [42]:
3 == 4

False

In [44]:
3 == 3 #apakah 3 sama dengan 3

True

In [46]:
3 != 4 # apakah 3 tidak sama dengan 4

True

In [47]:
a

'berangkat'

In [48]:
a = 3

In [49]:
a < 5

True

In [50]:
if a < 5;

SyntaxError: invalid syntax (<ipython-input-50-b977f93a4a4b>, line 1)

In [51]:
if a < 5 :
    print ("bayar tagihan")

bayar tagihan

In [52]:
if a < 2 :
    print ("bayar tagihan") else ("salah")

SyntaxError: invalid syntax (<ipython-input-52-3a7d1666b6cc>, line 2)

In [53]:
"JAKARTA "[3:6]

'ART'

In [54]:
"kediri".endswith("i")

True

In [55]:
txt = "saya pulang ke kediri"
x = txt.partition ("pulang")

In [56]:
x

('saya ', 'pulang', ' ke kediri')

In [57]:
u = [1 , 3, "haha", "hihi"]

In [58]:
u[2]

'haha'

In [60]:
u.append("lala")

In [61]:
u

[1, 3, 'haha', 'hihi', 'lala']

In [62]:
j = [2, 5 , 7 ,10 , 3 , 1]

In [63]:
j.sort()

In [64]:
j

[1, 2, 3, 5, 7, 10]

In [65]:
j[1]

2

In [66]:
j[1] = 100

In [67]:
j

[1, 100, 3, 5, 7, 10]

In [68]:
j.sort

In [69]:
j.sort()

In [70]:
j

[1, 3, 5, 7, 10, 100]

In [71]:
"ir" in "kediri"

True

In [72]:
uuu = 1

In [73]:
uuu = "lala"

In [74]:
uuu

'lala'

In [78]:
propinsi_gubernur = {"dki jakarta": "anies baswedan", "jawa barat": "ridwan kamil", "jawa timur" : "khofifah"}

In [79]:
propinsi_gubernur

{'dki jakarta': 'anies baswedan',
 'jawa barat': 'ridwan kamil',
 'jawa timur': 'khofifah'}

In [82]:
propinsi_gubernur["jawa timur"]

'khofifah'

In [84]:
dir{}

SyntaxError: invalid syntax (<ipython-input-84-0c61e0f0378f>, line 1)

In [85]:
dir{()}

SyntaxError: invalid syntax (<ipython-input-85-9bef529f289a>, line 1)

In [1]:
a = 4
b = 3

print (a + b)
print (a - b)
print (a * b)
print (a / b)
print (a % b)
print (a ** b)

7
1
12
1.3333333333333333
1
64

In [4]:
a = 10
b = 20
print (a == b)
print (a != b)
print (a <= b)
print (a >= b)

a = 30
b = 30

print (a == b)
print (a <= b)
print (a >= b)

False
True
True
False
True
True
True

In [6]:
s = 'foo'
print (s in 'That fof for us')
print (s in 'That food for us')

False
True

In [8]:
p = 'PurwaANTO26'

print (p.capitalize())

print (p.lower())

print (p.title())

print (p.upper())

Purwaanto26
purwaanto26
Purwaanto26
PURWAANTO26

In [9]:
a = ['foo', 'bar', 'baz', 'quix']
print (a)

['foo', 'bar', 'baz', 'quix']

In [11]:
a = ['foo', 'bar', 'baz', 'quix', 'corge', 'quux']
print(a[2])
print(a[3] + a[1])

baz
quixbar

In [12]:
a = ['foo', 'bar', 'baz', 'quix', 'corge', 'quux']
print(a * 2)

['foo', 'bar', 'baz', 'quix', 'corge', 'quux', 'foo', 'bar', 'baz', 'quix', 'corge', 'quux']

In [14]:
a = ['foo', 'bar', 'baz', 'quix', 'corge', 'quux']

print(len(a))
print(min(a))
print(max(a))

6
bar
quux

In [15]:
a = ['foo', 'bar', 'baz', 'quix', 'corge', 'quux']

print (a[1:4])

a[1:4] = [1,2,3,4,5]

print (a)

['bar', 'baz', 'quix']
['foo', 1, 2, 3, 4, 5, 'corge', 'quux']

In [16]:
MLB_team = {
    'Colorado' : 'Rockies',
    'Boston' : 'Red Sox',
    'Minnesota' : 'Twins',
    'Milwaukee' : 'Brewers',
    'Seattle'   : 'Mariners'
}

In [17]:
print(MLB_team['Seattle'])

Mariners

In [19]:
MLB_team ['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [20]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog' : 'Fido', 'cat' : 'Sox'}

In [21]:
person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}