In [7]:
if 3 > 2:
   a = 3
else:
   a = 5

In [2]:
a

NameError: name 'a' is not defined

In [8]:
if 3 > 2:
   a = 3
else:
   a = 5

In [9]:
a

3

In [10]:
3 > 4

False

In [12]:
if 4 > 6:
    b = 4
else:
    b = 7

In [13]:
b

7

In [16]:
if b == 4:
    b = "benar"
else:
    b = "salah"

In [17]:
b

'salah'

In [19]:
4 < 1

False

In [21]:
if 2 > 3:
    a = 2
    d = 7
else:
    c = 4

In [25]:
a

3

In [26]:
if 2 > 3:
    f = 2
    g = 7
else:
    h = 4

In [27]:
f

NameError: name 'f' is not defined

In [28]:
g

NameError: name 'g' is not defined

In [29]:
h

4

In [30]:
a = 3 # memberi nilai ke a atau assignment

In [31]:
a == 3 # mengecek apakah a itu nilainya 3

True

In [41]:
a = 5
b = 7
if a == 5:
    print ("benar a adalah 5") # bagian pertama blok a benar
    if b == 7: # bagian kedua blok a benar
        print ("b itu 7")
        print ("sy di blok b")
    else:
        print ("b bukan 7")
    print ("sy di blok a") # bagian ketiga blok a benar
else:
    print ("a bukan 5")
    if b == 7:
        print ("b nilainya 7")

benar a adalah 5
b itu 7
sy di blok b
sy di blok a

In [47]:
if 'iri' in ['kediri' , 'bar', 'iri']:
    print ('ada')
    
    if 20 > 30:
        print ('salah')
    
    print ('antara')
    
    if 10 < 20:
        print ('benar')
        
    print ('end 1')
print ('after')

ada
antara
benar
end 1
after

In [57]:
if b == 5 or a == 7:
    print ("benar")
else:
    print ("salah")

salah

In [68]:
#lat 1
kota = 'jakarta'
if kota == 'jakarta':
   print ('saya d jakarta')
else:
   print ('saya tidak d jakarta')

saya d jakarta

In [89]:
#lat 2
penghasilan = 35
if penghasilan > 50:
    print ('bayar pajak 20%')
elif (penghasilan >= 30 and penghasilan <= 50):
    print ('bayar pajak 15%')
else:
    print ('ngopi bae')

bayar pajak 15%

In [96]:
#lat 3
kota = 'bali'
penghasilan = 50
if kota == 'jakarta' and penghasilan > 50:
    print ('bayar pajak 20%')
elif kota == 'jakarta' and (penghasilan >= 30 and penghasilan <= 50):
    print ('bayar pajak 15%')
elif kota !='jakarta' and penghasilan > 50:
    print ('bayar pajak 18%')
elif kota != 'jakarta' and (penghasilan >= 30 and penghasilan <= 50):
    print ('bayar pajak 10%')
else:
    print ('bayar pajak 5%')

bayar pajak 10%

In [91]:
# if tanpa elif, tanpa else --> boleh
# if, elif, tanpa else --> boleh
# if, elif, else --> boleh

In [97]:
kota = 'jakarta'
gaji = 30

if gaji < 30:
    print ('pajak 5%')
elif kota == 'jakarta':
    if gaji > 50:
        print('pajak 20%')
    elif gaji >= 30:
        print ('pajak 15%')
else:
    if gaji >50:
        print ('pajak 20%')

pajak 15%

In [99]:
dir('jakarta')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [101]:
"jakarta".rpartition ("r")

('jaka', 'r', 'ta')

In [102]:
"jakarta".zfill('k')

TypeError: 'str' object cannot be interpreted as an integer

In [105]:
kota = "jakarta"
print (kota.zfill(20))

0000000000000jakarta

In [108]:
kota = '...............,,,,,,,,,,,jak.arta------------00000'
x = kota.strip('.,-0') #
print(x)

jak.arta

In [110]:
"hahaha\hihihi\hehehe".splitlines()

['hahaha\\hihihi\\hehehe']

In [ ]:
i = 5
while i < 10:
    print ('i masih kecil dari 10')
    print (i)
    i = i + 1

In [114]:
i = 5
while i < 10:
    print ('i masih kecil dari 10')
    print (i)
    i = i + 1

i masih kecil dari 10
5
i masih kecil dari 10
6
i masih kecil dari 10
7
i masih kecil dari 10
8
i masih kecil dari 10
9

In [116]:
n = 5
while n > -10:
    n-= 1
    print (n)
print ('lanjut')

4
3
2
1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10
lanjut

In [117]:
n = 4
while True:
    n-= 1
    if n == 0:
        continue
    print ('hehe')
    print (n)
    if n == -3:
        break

hehe
3
hehe
2
hehe
1
hehe
-1
hehe
-2
hehe
-3

In [138]:
#lat while 1
n = 0
while True:
    n = n + 1
    if n % 2 == 0:
        print ('genap')
        print (n)
    if n == 101;
        break

SyntaxError: invalid syntax (<ipython-input-138-b5aedebde093>, line 8)

In [139]:
n = 0
while n < 101:
    n = n + 1
    if n % 2 > 0:
        print(n)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101

In [145]:
n = 0
while n < 101:
    n = n + 1
    if n > 40 and n < 60:
        print (n)
    elif n % 2 > 0:
        print(n)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101

In [146]:
for i in range (8):
    print(i)

0
1
2
3
4
5
6
7

In [147]:
for i in range (101):
    if i % 2 == 0:
        print (i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [150]:
for binatang in ['singa', 'pinguin', 'elang']:
    print (binatang)
else:
    print ('selesai')

singa
pinguin
elang
selesai

In [153]:
for (i = 1 ; i < 101; i++)
    if i % 2 == 0:
        print ('genap')
    else:
        print (i)

SyntaxError: invalid syntax (<ipython-input-153-aead65d88334>, line 1)